@charset "UTF-8";

@font-face {
  font-family: "iconos-legem";
  src:url("fonts/iconos-legem.eot");
  src:url("fonts/iconos-legem.eot?#iefix") format("embedded-opentype"),
    url("fonts/iconos-legem.woff") format("woff"),
    url("fonts/iconos-legem.ttf") format("truetype"),
    url("fonts/iconos-legem.svg#iconos-legem") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "iconos-legem" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ico-"]:before,
[class*=" ico-"]:before {
  font-family: "iconos-legem" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-500px:before {
  content: "\61";
}
.ico-adjust:before {
  content: "\62";
}
.ico-adn:before {
  content: "\63";
}
.ico-align-center:before {
  content: "\64";
}
.ico-align-justify:before {
  content: "\65";
}
.ico-align-left:before {
  content: "\66";
}
.ico-align-right:before {
  content: "\67";
}
.ico-amazon:before {
  content: "\68";
}
.ico-ambulance:before {
  content: "\69";
}
.ico-anchor:before {
  content: "\6a";
}
.ico-android:before {
  content: "\6b";
}
.ico-angellist:before {
  content: "\6c";
}
.ico-angle-double-down:before {
  content: "\6d";
}
.ico-angle-double-left:before {
  content: "\6e";
}
.ico-angle-double-right:before {
  content: "\6f";
}
.ico-angle-double-up:before {
  content: "\70";
}
.ico-angle-down:before {
  content: "\71";
}
.ico-angle-left:before {
  content: "\72";
}
.ico-angle-right:before {
  content: "\73";
}
.ico-angle-up:before {
  content: "\74";
}
.ico-apple:before {
  content: "\75";
}
.ico-archive:before {
  content: "\76";
}
.ico-area-chart:before {
  content: "\77";
}
.ico-arrow-circle-down:before {
  content: "\78";
}
.ico-arrow-circle-left:before {
  content: "\79";
}
.ico-arrow-circle-o-down:before {
  content: "\7a";
}
.ico-arrow-circle-o-left:before {
  content: "\41";
}
.ico-arrow-circle-o-right:before {
  content: "\42";
}
.ico-arrow-circle-o-up:before {
  content: "\43";
}
.ico-arrow-circle-right:before {
  content: "\44";
}
.ico-arrow-circle-up:before {
  content: "\45";
}
.ico-arrow-down:before {
  content: "\46";
}
.ico-arrow-left:before {
  content: "\47";
}
.ico-arrow-right:before {
  content: "\48";
}
.ico-arrow-up:before {
  content: "\49";
}
.ico-arrows:before {
  content: "\4a";
}
.ico-arrows-alt:before {
  content: "\4b";
}
.ico-arrows-h:before {
  content: "\4c";
}
.ico-arrows-v:before {
  content: "\4d";
}
.ico-asterisk:before {
  content: "\4e";
}
.ico-at:before {
  content: "\4f";
}
.ico-backward:before {
  content: "\50";
}
.ico-balance-scale:before {
  content: "\51";
}
.ico-ban:before {
  content: "\52";
}
.ico-bar-chart:before {
  content: "\53";
}
.ico-barcode:before {
  content: "\54";
}
.ico-bars:before {
  content: "\55";
}
.ico-battery-empty:before {
  content: "\56";
}
.ico-battery-full:before {
  content: "\57";
}
.ico-battery-half:before {
  content: "\58";
}
.ico-battery-quarter:before {
  content: "\59";
}
.ico-battery-three-quarters:before {
  content: "\5a";
}
.ico-bed:before {
  content: "\30";
}
.ico-beer:before {
  content: "\31";
}
.ico-behance:before {
  content: "\32";
}
.ico-behance-square:before {
  content: "\33";
}
.ico-bell:before {
  content: "\34";
}
.ico-bell-o:before {
  content: "\35";
}
.ico-bell-slash:before {
  content: "\36";
}
.ico-bell-slash-o:before {
  content: "\37";
}
.ico-bicycle:before {
  content: "\38";
}
.ico-binoculars:before {
  content: "\39";
}
.ico-birthday-cake:before {
  content: "\21";
}
.ico-bitbucket:before {
  content: "\22";
}
.ico-bitbucket-square:before {
  content: "\23";
}
.ico-black-tie:before {
  content: "\24";
}
.ico-bold:before {
  content: "\25";
}
.ico-bolt:before {
  content: "\26";
}
.ico-bomb:before {
  content: "\27";
}
.ico-book:before {
  content: "\28";
}
.ico-bookmark:before {
  content: "\29";
}
.ico-bookmark-o:before {
  content: "\2a";
}
.ico-briefcase:before {
  content: "\2b";
}
.ico-btc:before {
  content: "\2c";
}
.ico-bug:before {
  content: "\2d";
}
.ico-building:before {
  content: "\2e";
}
.ico-building-o:before {
  content: "\2f";
}
.ico-bullhorn:before {
  content: "\3a";
}
.ico-bullseye:before {
  content: "\3b";
}
.ico-bus:before {
  content: "\3c";
}
.ico-buysellads:before {
  content: "\3d";
}
.ico-calculator:before {
  content: "\3e";
}
.ico-calendar:before {
  content: "\3f";
}
.ico-calendar-check-o:before {
  content: "\40";
}
.ico-calendar-minus-o:before {
  content: "\5b";
}
.ico-calendar-o:before {
  content: "\5d";
}
.ico-calendar-plus-o:before {
  content: "\5e";
}
.ico-calendar-times-o:before {
  content: "\5f";
}
.ico-camera:before {
  content: "\60";
}
.ico-camera-retro:before {
  content: "\7b";
}
.ico-car:before {
  content: "\7c";
}
.ico-caret-down:before {
  content: "\7d";
}
.ico-caret-left:before {
  content: "\7e";
}
.ico-caret-right:before {
  content: "\5c";
}
.ico-caret-square-o-down:before {
  content: "\e000";
}
.ico-caret-square-o-left:before {
  content: "\e001";
}
.ico-caret-square-o-right:before {
  content: "\e002";
}
.ico-caret-square-o-up:before {
  content: "\e003";
}
.ico-caret-up:before {
  content: "\e004";
}
.ico-cart-arrow-down:before {
  content: "\e005";
}
.ico-cart-plus:before {
  content: "\e006";
}
.ico-cc:before {
  content: "\e007";
}
.ico-cc-amex:before {
  content: "\e008";
}
.ico-cc-diners-club:before {
  content: "\e009";
}
.ico-cc-discover:before {
  content: "\e00a";
}
.ico-cc-jcb:before {
  content: "\e00b";
}
.ico-cc-mastercard:before {
  content: "\e00c";
}
.ico-cc-paypal:before {
  content: "\e00d";
}
.ico-cc-stripe:before {
  content: "\e00e";
}
.ico-cc-visa:before {
  content: "\e00f";
}
.ico-certificate:before {
  content: "\e010";
}
.ico-chain-broken:before {
  content: "\e011";
}
.ico-check:before {
  content: "\e012";
}
.ico-check-circle:before {
  content: "\e013";
}
.ico-check-circle-o:before {
  content: "\e014";
}
.ico-check-square:before {
  content: "\e015";
}
.ico-check-square-o:before {
  content: "\e016";
}
.ico-chevron-circle-down:before {
  content: "\e017";
}
.ico-chevron-circle-left:before {
  content: "\e018";
}
.ico-chevron-circle-right:before {
  content: "\e019";
}
.ico-chevron-circle-up:before {
  content: "\e01a";
}
.ico-chevron-down:before {
  content: "\e01b";
}
.ico-chevron-left:before {
  content: "\e01c";
}
.ico-chevron-right:before {
  content: "\e01d";
}
.ico-chevron-up:before {
  content: "\e01e";
}
.ico-child:before {
  content: "\e01f";
}
.ico-chrome:before {
  content: "\e020";
}
.ico-circle:before {
  content: "\e021";
}
.ico-circle-o:before {
  content: "\e022";
}
.ico-circle-o-notch:before {
  content: "\e023";
}
.ico-circle-thin:before {
  content: "\e024";
}
.ico-clipboard:before {
  content: "\e025";
}
.ico-clock-o:before {
  content: "\e026";
}
.ico-clone:before {
  content: "\e027";
}
.ico-cloud:before {
  content: "\e028";
}
.ico-cloud-download:before {
  content: "\e029";
}
.ico-cloud-upload:before {
  content: "\e02a";
}
.ico-code:before {
  content: "\e02b";
}
.ico-code-fork:before {
  content: "\e02c";
}
.ico-codepen:before {
  content: "\e02d";
}
.ico-coffee:before {
  content: "\e02e";
}
.ico-cog:before {
  content: "\e02f";
}
.ico-cogs:before {
  content: "\e030";
}
.ico-columns:before {
  content: "\e031";
}
.ico-comment:before {
  content: "\e032";
}
.ico-comment-o:before {
  content: "\e033";
}
.ico-commenting:before {
  content: "\e034";
}
.ico-commenting-o:before {
  content: "\e035";
}
.ico-comments:before {
  content: "\e036";
}
.ico-comments-o:before {
  content: "\e037";
}
.ico-compass:before {
  content: "\e038";
}
.ico-compress:before {
  content: "\e039";
}
.ico-connectdevelop:before {
  content: "\e03a";
}
.ico-contao:before {
  content: "\e03b";
}
.ico-copyright:before {
  content: "\e03c";
}
.ico-creative-commons:before {
  content: "\e03d";
}
.ico-credit-card:before {
  content: "\e03e";
}
.ico-crop:before {
  content: "\e03f";
}
.ico-crosshairs:before {
  content: "\e040";
}
.ico-css3:before {
  content: "\e041";
}
.ico-cube:before {
  content: "\e042";
}
.ico-cubes:before {
  content: "\e043";
}
.ico-cutlery:before {
  content: "\e044";
}
.ico-dashcube:before {
  content: "\e045";
}
.ico-database:before {
  content: "\e046";
}
.ico-delicious:before {
  content: "\e047";
}
.ico-desktop:before {
  content: "\e048";
}
.ico-deviantart:before {
  content: "\e049";
}
.ico-diamond:before {
  content: "\e04a";
}
.ico-digg:before {
  content: "\e04b";
}
.ico-dot-circle-o:before {
  content: "\e04c";
}
.ico-download:before {
  content: "\e04d";
}
.ico-dribbble:before {
  content: "\e04e";
}
.ico-dropbox:before {
  content: "\e04f";
}
.ico-drupal:before {
  content: "\e050";
}
.ico-eject:before {
  content: "\e051";
}
.ico-ellipsis-h:before {
  content: "\e052";
}
.ico-ellipsis-v:before {
  content: "\e053";
}
.ico-empire:before {
  content: "\e054";
}
.ico-envelope:before {
  content: "\e055";
}
.ico-envelope-o:before {
  content: "\e056";
}
.ico-envelope-square:before {
  content: "\e057";
}
.ico-eraser:before {
  content: "\e058";
}
.ico-eur:before {
  content: "\e059";
}
.ico-exchange:before {
  content: "\e05a";
}
.ico-exclamation:before {
  content: "\e05b";
}
.ico-exclamation-circle:before {
  content: "\e05c";
}
.ico-exclamation-triangle:before {
  content: "\e05d";
}
.ico-expand:before {
  content: "\e05e";
}
.ico-expeditedssl:before {
  content: "\e05f";
}
.ico-external-link:before {
  content: "\e060";
}
.ico-external-link-square:before {
  content: "\e061";
}
.ico-eye:before {
  content: "\e062";
}
.ico-eye-slash:before {
  content: "\e063";
}
.ico-eyedropper:before {
  content: "\e064";
}
.ico-facebook:before {
  content: "\e065";
}
.ico-facebook-official:before {
  content: "\e066";
}
.ico-facebook-square:before {
  content: "\e067";
}
.ico-fast-backward:before {
  content: "\e068";
}
.ico-fast-forward:before {
  content: "\e069";
}
.ico-fax:before {
  content: "\e06a";
}
.ico-female:before {
  content: "\e06b";
}
.ico-fighter-jet:before {
  content: "\e06c";
}
.ico-file:before {
  content: "\e06d";
}
.ico-file-archive-o:before {
  content: "\e06e";
}
.ico-file-audio-o:before {
  content: "\e06f";
}
.ico-file-code-o:before {
  content: "\e070";
}
.ico-file-excel-o:before {
  content: "\e071";
}
.ico-file-image-o:before {
  content: "\e072";
}
.ico-file-o:before {
  content: "\e073";
}
.ico-file-pdf-o:before {
  content: "\e074";
}
.ico-file-powerpoint-o:before {
  content: "\e075";
}
.ico-file-text:before {
  content: "\e076";
}
.ico-file-text-o:before {
  content: "\e077";
}
.ico-file-video-o:before {
  content: "\e078";
}
.ico-file-word-o:before {
  content: "\e079";
}
.ico-files-o:before {
  content: "\e07a";
}
.ico-film:before {
  content: "\e07b";
}
.ico-filter:before {
  content: "\e07c";
}
.ico-fire:before {
  content: "\e07d";
}
.ico-fire-extinguisher:before {
  content: "\e07e";
}
.ico-firefox:before {
  content: "\e07f";
}
.ico-flag:before {
  content: "\e080";
}
.ico-flag-checkered:before {
  content: "\e081";
}
.ico-flag-o:before {
  content: "\e082";
}
.ico-flask:before {
  content: "\e083";
}
.ico-flickr:before {
  content: "\e084";
}
.ico-floppy-o:before {
  content: "\e085";
}
.ico-folder:before {
  content: "\e086";
}
.ico-folder-o:before {
  content: "\e087";
}
.ico-folder-open:before {
  content: "\e088";
}
.ico-folder-open-o:before {
  content: "\e089";
}
.ico-font:before {
  content: "\e08a";
}
.ico-fonticons:before {
  content: "\e08b";
}
.ico-forumbee:before {
  content: "\e08c";
}
.ico-forward:before {
  content: "\e08d";
}
.ico-foursquare:before {
  content: "\e08e";
}
.ico-frown-o:before {
  content: "\e08f";
}
.ico-futbol-o:before {
  content: "\e090";
}
.ico-gamepad:before {
  content: "\e091";
}
.ico-gavel:before {
  content: "\e092";
}
.ico-gbp:before {
  content: "\e093";
}
.ico-genderless:before {
  content: "\e094";
}
.ico-get-pocket:before {
  content: "\e095";
}
.ico-gg:before {
  content: "\e096";
}
.ico-gg-circle:before {
  content: "\e097";
}
.ico-gift:before {
  content: "\e098";
}
.ico-git:before {
  content: "\e099";
}
.ico-git-square:before {
  content: "\e09a";
}
.ico-github:before {
  content: "\e09b";
}
.ico-github-alt:before {
  content: "\e09c";
}
.ico-github-square:before {
  content: "\e09d";
}
.ico-glass:before {
  content: "\e09e";
}
.ico-globe:before {
  content: "\e09f";
}
.ico-google:before {
  content: "\e0a0";
}
.ico-google-plus:before {
  content: "\e0a1";
}
.ico-google-plus-square:before {
  content: "\e0a2";
}
.ico-google-wallet:before {
  content: "\e0a3";
}
.ico-graduation-cap:before {
  content: "\e0a4";
}
.ico-gratipay:before {
  content: "\e0a5";
}
.ico-h-square:before {
  content: "\e0a6";
}
.ico-hacker-news:before {
  content: "\e0a7";
}
.ico-hand-lizard-o:before {
  content: "\e0a8";
}
.ico-hand-o-down:before {
  content: "\e0a9";
}
.ico-hand-o-left:before {
  content: "\e0aa";
}
.ico-hand-o-right:before {
  content: "\e0ab";
}
.ico-hand-o-up:before {
  content: "\e0ac";
}
.ico-hand-paper-o:before {
  content: "\e0ad";
}
.ico-hand-peace-o:before {
  content: "\e0ae";
}
.ico-hand-pointer-o:before {
  content: "\e0af";
}
.ico-hand-rock-o:before {
  content: "\e0b0";
}
.ico-hand-scissors-o:before {
  content: "\e0b1";
}
.ico-hand-spock-o:before {
  content: "\e0b2";
}
.ico-hdd-o:before {
  content: "\e0b3";
}
.ico-header:before {
  content: "\e0b4";
}
.ico-headphones:before {
  content: "\e0b5";
}
.ico-heart:before {
  content: "\e0b6";
}
.ico-heart-o:before {
  content: "\e0b7";
}
.ico-heartbeat:before {
  content: "\e0b8";
}
.ico-history:before {
  content: "\e0b9";
}
.ico-home:before {
  content: "\e0ba";
}
.ico-hospital-o:before {
  content: "\e0bb";
}
.ico-hourglass:before {
  content: "\e0bc";
}
.ico-hourglass-end:before {
  content: "\e0bd";
}
.ico-hourglass-half:before {
  content: "\e0be";
}
.ico-hourglass-o:before {
  content: "\e0bf";
}
.ico-hourglass-start:before {
  content: "\e0c0";
}
.ico-houzz:before {
  content: "\e0c1";
}
.ico-html5:before {
  content: "\e0c2";
}
.ico-i-cursor:before {
  content: "\e0c3";
}
.ico-ils:before {
  content: "\e0c4";
}
.ico-inbox:before {
  content: "\e0c5";
}
.ico-indent:before {
  content: "\e0c6";
}
.ico-industry:before {
  content: "\e0c7";
}
.ico-info:before {
  content: "\e0c8";
}
.ico-info-circle:before {
  content: "\e0c9";
}
.ico-inr:before {
  content: "\e0ca";
}
.ico-instagram:before {
  content: "\e0cb";
}
.ico-internet-explorer:before {
  content: "\e0cc";
}
.ico-ioxhost:before {
  content: "\e0cd";
}
.ico-italic:before {
  content: "\e0ce";
}
.ico-joomla:before {
  content: "\e0cf";
}
.ico-jpy:before {
  content: "\e0d0";
}
.ico-jsfiddle:before {
  content: "\e0d1";
}
.ico-key:before {
  content: "\e0d2";
}
.ico-keyboard-o:before {
  content: "\e0d3";
}
.ico-krw:before {
  content: "\e0d4";
}
.ico-language:before {
  content: "\e0d5";
}
.ico-laptop:before {
  content: "\e0d6";
}
.ico-lastfm:before {
  content: "\e0d7";
}
.ico-lastfm-square:before {
  content: "\e0d8";
}
.ico-leaf:before {
  content: "\e0d9";
}
.ico-leanpub:before {
  content: "\e0da";
}
.ico-lemon-o:before {
  content: "\e0db";
}
.ico-level-down:before {
  content: "\e0dc";
}
.ico-level-up:before {
  content: "\e0dd";
}
.ico-life-ring:before {
  content: "\e0de";
}
.ico-lightbulb-o:before {
  content: "\e0df";
}
.ico-line-chart:before {
  content: "\e0e0";
}
.ico-link:before {
  content: "\e0e1";
}
.ico-linkedin:before {
  content: "\e0e2";
}
.ico-linkedin-square:before {
  content: "\e0e3";
}
.ico-linux:before {
  content: "\e0e4";
}
.ico-list:before {
  content: "\e0e5";
}
.ico-list-alt:before {
  content: "\e0e6";
}
.ico-list-ol:before {
  content: "\e0e7";
}
.ico-list-ul:before {
  content: "\e0e8";
}
.ico-location-arrow:before {
  content: "\e0e9";
}
.ico-lock:before {
  content: "\e0ea";
}
.ico-long-arrow-down:before {
  content: "\e0eb";
}
.ico-long-arrow-left:before {
  content: "\e0ec";
}
.ico-long-arrow-right:before {
  content: "\e0ed";
}
.ico-long-arrow-up:before {
  content: "\e0ee";
}
.ico-magic:before {
  content: "\e0ef";
}
.ico-magnet:before {
  content: "\e0f0";
}
.ico-male:before {
  content: "\e0f1";
}
.ico-map:before {
  content: "\e0f2";
}
.ico-map-marker:before {
  content: "\e0f3";
}
.ico-map-o:before {
  content: "\e0f4";
}
.ico-map-pin:before {
  content: "\e0f5";
}
.ico-map-signs:before {
  content: "\e0f6";
}
.ico-mars:before {
  content: "\e0f7";
}
.ico-mars-double:before {
  content: "\e0f8";
}
.ico-mars-stroke:before {
  content: "\e0f9";
}
.ico-mars-stroke-h:before {
  content: "\e0fa";
}
.ico-mars-stroke-v:before {
  content: "\e0fb";
}
.ico-maxcdn:before {
  content: "\e0fc";
}
.ico-meanpath:before {
  content: "\e0fd";
}
.ico-medium:before {
  content: "\e0fe";
}
.ico-medkit:before {
  content: "\e0ff";
}
.ico-meh-o:before {
  content: "\e100";
}
.ico-mercury:before {
  content: "\e101";
}
.ico-microphone:before {
  content: "\e102";
}
.ico-microphone-slash:before {
  content: "\e103";
}
.ico-minus:before {
  content: "\e104";
}
.ico-minus-circle:before {
  content: "\e105";
}
.ico-minus-square:before {
  content: "\e106";
}
.ico-minus-square-o:before {
  content: "\e107";
}
.ico-mobile:before {
  content: "\e108";
}
.ico-money:before {
  content: "\e109";
}
.ico-moon-o:before {
  content: "\e10a";
}
.ico-motorcycle:before {
  content: "\e10b";
}
.ico-mouse-pointer:before {
  content: "\e10c";
}
.ico-music:before {
  content: "\e10d";
}
.ico-neuter:before {
  content: "\e10e";
}
.ico-newspaper-o:before {
  content: "\e10f";
}
.ico-object-group:before {
  content: "\e110";
}
.ico-object-ungroup:before {
  content: "\e111";
}
.ico-odnoklassniki:before {
  content: "\e112";
}
.ico-odnoklassniki-square:before {
  content: "\e113";
}
.ico-opencart:before {
  content: "\e114";
}
.ico-openid:before {
  content: "\e115";
}
.ico-opera:before {
  content: "\e116";
}
.ico-optin-monster:before {
  content: "\e117";
}
.ico-outdent:before {
  content: "\e118";
}
.ico-pagelines:before {
  content: "\e119";
}
.ico-paint-brush:before {
  content: "\e11a";
}
.ico-paper-plane:before {
  content: "\e11b";
}
.ico-paper-plane-o:before {
  content: "\e11c";
}
.ico-paperclip:before {
  content: "\e11d";
}
.ico-paragraph:before {
  content: "\e11e";
}
.ico-pause:before {
  content: "\e11f";
}
.ico-paw:before {
  content: "\e120";
}
.ico-paypal:before {
  content: "\e121";
}
.ico-pencil:before {
  content: "\e122";
}
.ico-pencil-square:before {
  content: "\e123";
}
.ico-pencil-square-o:before {
  content: "\e124";
}
.ico-phone:before {
  content: "\e125";
}
.ico-phone-square:before {
  content: "\e126";
}
.ico-picture-o:before {
  content: "\e127";
}
.ico-pie-chart:before {
  content: "\e128";
}
.ico-pied-piper:before {
  content: "\e129";
}
.ico-pied-piper-alt:before {
  content: "\e12a";
}
.ico-pinterest:before {
  content: "\e12b";
}
.ico-pinterest-p:before {
  content: "\e12c";
}
.ico-pinterest-square:before {
  content: "\e12d";
}
.ico-plane:before {
  content: "\e12e";
}
.ico-play:before {
  content: "\e12f";
}
.ico-play-circle:before {
  content: "\e130";
}
.ico-play-circle-o:before {
  content: "\e131";
}
.ico-plug:before {
  content: "\e132";
}
.ico-plus:before {
  content: "\e133";
}
.ico-plus-circle:before {
  content: "\e134";
}
.ico-plus-square:before {
  content: "\e135";
}
.ico-plus-square-o:before {
  content: "\e136";
}
.ico-power-off:before {
  content: "\e137";
}
.ico-print:before {
  content: "\e138";
}
.ico-puzzle-piece:before {
  content: "\e139";
}
.ico-qq:before {
  content: "\e13a";
}
.ico-qrcode:before {
  content: "\e13b";
}
.ico-question:before {
  content: "\e13c";
}
.ico-question-circle:before {
  content: "\e13d";
}
.ico-quote-left:before {
  content: "\e13e";
}
.ico-quote-right:before {
  content: "\e13f";
}
.ico-random:before {
  content: "\e140";
}
.ico-rebel:before {
  content: "\e141";
}
.ico-recycle:before {
  content: "\e142";
}
.ico-reddit:before {
  content: "\e143";
}
.ico-reddit-square:before {
  content: "\e144";
}
.ico-refresh:before {
  content: "\e145";
}
.ico-registered:before {
  content: "\e146";
}
.ico-renren:before {
  content: "\e147";
}
.ico-repeat:before {
  content: "\e148";
}
.ico-reply:before {
  content: "\e149";
}
.ico-reply-all:before {
  content: "\e14a";
}
.ico-retweet:before {
  content: "\e14b";
}
.ico-road:before {
  content: "\e14c";
}
.ico-rocket:before {
  content: "\e14d";
}
.ico-rss:before {
  content: "\e14e";
}
.ico-rss-square:before {
  content: "\e14f";
}
.ico-rub:before {
  content: "\e150";
}
.ico-safari:before {
  content: "\e151";
}
.ico-scissors:before {
  content: "\e152";
}
.ico-search:before {
  content: "\e153";
}
.ico-search-minus:before {
  content: "\e154";
}
.ico-search-plus:before {
  content: "\e155";
}
.ico-sellsy:before {
  content: "\e156";
}
.ico-server:before {
  content: "\e157";
}
.ico-share:before {
  content: "\e158";
}
.ico-share-alt:before {
  content: "\e159";
}
.ico-share-alt-square:before {
  content: "\e15a";
}
.ico-share-square:before {
  content: "\e15b";
}
.ico-share-square-o:before {
  content: "\e15c";
}
.ico-shield:before {
  content: "\e15d";
}
.ico-ship:before {
  content: "\e15e";
}
.ico-shirtsinbulk:before {
  content: "\e15f";
}
.ico-shopping-cart:before {
  content: "\e160";
}
.ico-sign-in:before {
  content: "\e161";
}
.ico-sign-out:before {
  content: "\e162";
}
.ico-signal:before {
  content: "\e163";
}
.ico-simplybuilt:before {
  content: "\e164";
}
.ico-sitemap:before {
  content: "\e165";
}
.ico-skyatlas:before {
  content: "\e166";
}
.ico-skype:before {
  content: "\e167";
}
.ico-slack:before {
  content: "\e168";
}
.ico-sliders:before {
  content: "\e169";
}
.ico-slideshare:before {
  content: "\e16a";
}
.ico-smile-o:before {
  content: "\e16b";
}
.ico-sort:before {
  content: "\e16c";
}
.ico-sort-alpha-asc:before {
  content: "\e16d";
}
.ico-sort-alpha-desc:before {
  content: "\e16e";
}
.ico-sort-amount-asc:before {
  content: "\e16f";
}
.ico-sort-amount-desc:before {
  content: "\e170";
}
.ico-sort-asc:before {
  content: "\e171";
}
.ico-sort-desc:before {
  content: "\e172";
}
.ico-sort-numeric-asc:before {
  content: "\e173";
}
.ico-sort-numeric-desc:before {
  content: "\e174";
}
.ico-soundcloud:before {
  content: "\e175";
}
.ico-space-shuttle:before {
  content: "\e176";
}
.ico-spinner:before {
  content: "\e177";
}
.ico-spoon:before {
  content: "\e178";
}
.ico-spotify:before {
  content: "\e179";
}
.ico-square:before {
  content: "\e17a";
}
.ico-square-o:before {
  content: "\e17b";
}
.ico-stack-exchange:before {
  content: "\e17c";
}
.ico-stack-overflow:before {
  content: "\e17d";
}
.ico-star:before {
  content: "\e17e";
}
.ico-star-half:before {
  content: "\e17f";
}
.ico-star-half-o:before {
  content: "\e180";
}
.ico-star-o:before {
  content: "\e181";
}
.ico-steam:before {
  content: "\e182";
}
.ico-steam-square:before {
  content: "\e183";
}
.ico-step-backward:before {
  content: "\e184";
}
.ico-step-forward:before {
  content: "\e185";
}
.ico-stethoscope:before {
  content: "\e186";
}
.ico-sticky-note:before {
  content: "\e187";
}
.ico-sticky-note-o:before {
  content: "\e188";
}
.ico-stop:before {
  content: "\e189";
}
.ico-street-view:before {
  content: "\e18a";
}
.ico-strikethrough:before {
  content: "\e18b";
}
.ico-stumbleupon:before {
  content: "\e18c";
}
.ico-stumbleupon-circle:before {
  content: "\e18d";
}
.ico-subscript:before {
  content: "\e18e";
}
.ico-subway:before {
  content: "\e18f";
}
.ico-suitcase:before {
  content: "\e190";
}
.ico-sun-o:before {
  content: "\e191";
}
.ico-superscript:before {
  content: "\e192";
}
.ico-table:before {
  content: "\e193";
}
.ico-tablet:before {
  content: "\e194";
}
.ico-tachometer:before {
  content: "\e195";
}
.ico-tag:before {
  content: "\e196";
}
.ico-tags:before {
  content: "\e197";
}
.ico-tasks:before {
  content: "\e198";
}
.ico-taxi:before {
  content: "\e199";
}
.ico-television:before {
  content: "\e19a";
}
.ico-tencent-weibo:before {
  content: "\e19b";
}
.ico-terminal:before {
  content: "\e19c";
}
.ico-text-height:before {
  content: "\e19d";
}
.ico-text-width:before {
  content: "\e19e";
}
.ico-th:before {
  content: "\e19f";
}
.ico-th-large:before {
  content: "\e1a0";
}
.ico-th-list:before {
  content: "\e1a1";
}
.ico-thumb-tack:before {
  content: "\e1a2";
}
.ico-thumbs-down:before {
  content: "\e1a3";
}
.ico-thumbs-o-down:before {
  content: "\e1a4";
}
.ico-thumbs-o-up:before {
  content: "\e1a5";
}
.ico-thumbs-up:before {
  content: "\e1a6";
}
.ico-ticket:before {
  content: "\e1a7";
}
.ico-times:before {
  content: "\e1a8";
}
.ico-times-circle:before {
  content: "\e1a9";
}
.ico-times-circle-o:before {
  content: "\e1aa";
}
.ico-tint:before {
  content: "\e1ab";
}
.ico-toggle-off:before {
  content: "\e1ac";
}
.ico-toggle-on:before {
  content: "\e1ad";
}
.ico-trademark:before {
  content: "\e1ae";
}
.ico-train:before {
  content: "\e1af";
}
.ico-transgender:before {
  content: "\e1b0";
}
.ico-transgender-alt:before {
  content: "\e1b1";
}
.ico-trash:before {
  content: "\e1b2";
}
.ico-trash-o:before {
  content: "\e1b3";
}
.ico-tree:before {
  content: "\e1b4";
}
.ico-trello:before {
  content: "\e1b5";
}
.ico-tripadvisor:before {
  content: "\e1b6";
}
.ico-trophy:before {
  content: "\e1b7";
}
.ico-truck:before {
  content: "\e1b8";
}
.ico-try:before {
  content: "\e1b9";
}
.ico-tty:before {
  content: "\e1ba";
}
.ico-tumblr:before {
  content: "\e1bb";
}
.ico-tumblr-square:before {
  content: "\e1bc";
}
.ico-twitch:before {
  content: "\e1bd";
}
.ico-twitter:before {
  content: "\e1be";
}
.ico-twitter-square:before {
  content: "\e1bf";
}
.ico-umbrella:before {
  content: "\e1c0";
}
.ico-underline:before {
  content: "\e1c1";
}
.ico-undo:before {
  content: "\e1c2";
}
.ico-university:before {
  content: "\e1c3";
}
.ico-unlock:before {
  content: "\e1c4";
}
.ico-unlock-alt:before {
  content: "\e1c5";
}
.ico-upload:before {
  content: "\e1c6";
}
.ico-usd:before {
  content: "\e1c7";
}
.ico-user:before {
  content: "\e1c8";
}
.ico-user-md:before {
  content: "\e1c9";
}
.ico-user-plus:before {
  content: "\e1ca";
}
.ico-user-secret:before {
  content: "\e1cb";
}
.ico-user-times:before {
  content: "\e1cc";
}
.ico-users:before {
  content: "\e1cd";
}
.ico-venus:before {
  content: "\e1ce";
}
.ico-venus-double:before {
  content: "\e1cf";
}
.ico-venus-mars:before {
  content: "\e1d0";
}
.ico-viacoin:before {
  content: "\e1d1";
}
.ico-video-camera:before {
  content: "\e1d2";
}
.ico-vimeo:before {
  content: "\e1d3";
}
.ico-vimeo-square:before {
  content: "\e1d4";
}
.ico-vine:before {
  content: "\e1d5";
}
.ico-vk:before {
  content: "\e1d6";
}
.ico-volume-down:before {
  content: "\e1d7";
}
.ico-volume-off:before {
  content: "\e1d8";
}
.ico-volume-up:before {
  content: "\e1d9";
}
.ico-weibo:before {
  content: "\e1da";
}
.ico-weixin:before {
  content: "\e1db";
}
.ico-whatsapp:before {
  content: "\e1dc";
}
.ico-wheelchair:before {
  content: "\e1dd";
}
.ico-wifi:before {
  content: "\e1de";
}
.ico-wikipedia-w:before {
  content: "\e1df";
}
.ico-windows:before {
  content: "\e1e0";
}
.ico-wordpress:before {
  content: "\e1e1";
}
.ico-wrench:before {
  content: "\e1e2";
}
.ico-xing:before {
  content: "\e1e3";
}
.ico-xing-square:before {
  content: "\e1e4";
}
.ico-y-combinator:before {
  content: "\e1e5";
}
.ico-yahoo:before {
  content: "\e1e6";
}
.ico-yelp:before {
  content: "\e1e7";
}
.ico-youtube:before {
  content: "\e1e8";
}
.ico-youtube-play:before {
  content: "\e1e9";
}
.ico-youtube-square:before {
  content: "\e1ea";
}
