@import url('~/assets/escudos-legem/style.css');
@import url('~/assets/fonts/Lato.css');
@import url('~/assets/fonts/AbrilFatface.css');
@import url('~/assets/colors.css');
@import url('~/assets/colors-hc.css');

* {
  margin:0;
  padding:0;
  border:none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box; 
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Lato';
}

.sm-space-top {
  margin-top: 10px;
}

.md-space-top {
  margin-top: 15px;
}

.lg-space-top {
  margin-top: 20px;
}

.sm-space-bottom {
  margin-bottom: 10px;
}

.md-space-bottom {
  margin-top: 15px;
}

.lg-space-bottom {
  margin-top: 20px;
}

/*-----------------------------------------------------------------------*/
/* containers */
.box_duo_input > div {
  flex: 1;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {
 .box_duo_input {
      flex-direction: column;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .box_duo_input {
      flex-direction: row;
  }
  .box_duo_input > div:first-child {
      margin-right: 10px;
  }

  .box_duo_input > div:last-child {
      margin-left: 10px;
  }
}

/* control cuadros tipo entidad */

/* Grid styles -------------------------------------------------*/
.hoja-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 15px;
  height: 40vh;
  padding: 15px;
  overflow-y: auto;
  background: var(--wl_input_bg);
  border: 1px solid var(--wl_gray);
  margin: 0 auto 10px;
}

.block {
  position: relative;  
}

.block input {
  display: none;
}

.block label {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.note-name {
  color: var(--wl_input_text);
  font-family: "lato";
  font-size: 1.1em;;
  text-overflow:ellipsis;  
}

.note {
  display: inline-block;
  height: 130px; /*alto de la hoja*/
  width: 110px; /*ancho de la hoja*/
  font-size: 1.1em;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
}

.note > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ico-container{
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  flex: 70;
}

.ico-container > span {
  color: var(--wl_btn_disable);
  font-size: xx-large;
  background: var(--wl_input_bg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.name-container{
  display: flex;
  flex: 30;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 3px;
  background:var(--wl_subtle);  
  overflow:hidden;
  position: relative;
}

.block input + label {
  border: 1px solid var(--wl_gray);  
}

.block input:checked + label {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid var(--wl_primary);
}

.note:after {
  content: "✓";
  position: absolute;
  font-size: small;
  font-weight: 900;
  bottom: 0;
  right: 80%;
  opacity: 0;
  color: var(--wl_primary);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  visibility: hidden;
  display: block;
  overflow: hidden;
}

.block input:checked + label::after {
  content: "✓";
  position: absolute;
  font-size: medium;
  font-weight: 900;
  bottom: 0;
  right: 0;
  padding-right: 4px;
  opacity: 1;
  color: var(--wl_primary);

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: visible;

  display: block;
  overflow: hidden;
}

.hoja-container.disable {
  background: var(--wl_gray_light);
}

.hoja-container.disable .name-container{
  background: var(--wl_btn_disable);
}

.hoja-container.disable .note-name{
  color: var(--wl_input_bg);
}

.block.disable input:checked + label {
  border: 2px solid var(--wl_input_bg);
}

.block.disable input:checked + label::after {
  color: var(--wl_input_bg);
}

/* Fin hojas */
/*-------------------------------------------------*/

.box_duo_input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.flex-container{
  display: flex;
}

.flex-container.col.center{ 
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
}

.flex-container.row.center{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;
}

.box-title {
  display: flex;
  align-items: center;
  color: var(--wl_btn_content);
  height: 35px;
  align-self: stretch;
  background: var(--wl_dark);
  font-family: 'Lato';
  font-size: 1rem;
  padding-left: 10px;
  font-weight: bold;
}


/* ----------------------------------- */
/* labels errores-ok */

.wl_msg {
  position: relative;
  font-family: "Lato";
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 15px;
}

.wl_msg.info {
  color: white;  
  background: var(--wl_text_info);
}

.wl_msg.ok {
  color: white;  
  background: var(--wl_primary);
}

.wl_msg.error {
  color: white;  
  background: var(--wl_text_error);  
}

.wl_msg.info strong:before {content: "\e0c9"}
.wl_msg.error strong:before {content: "\e1a9"}
.wl_msg.ok strong:before {content: "\e013"}

.wl_msg strong:before {
  font-family: "iconos-legem";
  font-size: 1rem;  
  margin-right: 5px;
  vertical-align: -3px;
}

.wl_msg.md {
  font-size: .9em;
}

.__nuxt-error-page{
  background:#131f27;
}

.title{
  color: white !important;
}

.error-link:link,
.error-link:visited{
  background-color: #131f27;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.error-link:hover, .error-link:active {
  background-color:#0B1216;
  color: white;
}

/* FIN labels errores-ok */
/* ----------------------------------- */

.to_top{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:var(--wl_primary); /* Set a background color */
  color: var(--wl_btn_content); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: large; /* Increase font size */
}

.to_top:hover {
  background-color: var(--wl_dark); /* Add a dark-grey background on hover */
}