.basic-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-shadow: 0 0 1px 1px var(--wl_form_sha1)
}

.basic-form-box {
  display: flex;
  flex-direction: column;  
  margin: 0 auto;
  box-shadow: 0px 0px 6px 1px var(--wl_form_sha1)
}
/* mensaje del formulario */
.msg-pass{
  padding: 20px;
  display:inline-block;
  font-family: 'Lato';
  font-size: 1.1rem;
  background: var(--wl_form_bg);
  color: var(--wl_text);
  border-bottom: 1px solid var(--wl_border);
}

.btn-submit{
  margin-top: 20px;
}

.form-basic-container {
  background: var(--wl_form_bg);
  color:var(--wl_text);
  padding: 20px;
  padding-top: 18px;
}

@media only screen and (max-width : 320px) {
  .basic-form-box{
    width:95%;
  }
}

@media only screen and (min-width : 320px) {
  .basic-form-box{
    width:90%;
  } 
}

@media only screen and (min-width : 480px) {
  .basic-form-box{
    width:65%;
  }
}

@media only screen and (min-width : 768px) {
  .basic-form-box{
    width:40%;
  }
}