html {
<<<<<<< HEAD
  --button-disabled: rgba(255, 0, 0, 1);
  --fondo-tapiz-contenido:#fff;
  --negro-puro:rgba(0,0,0,.01);
  --negro-arbol: rgba(17, 21, 21, 0.3);
  --negro-sombra:rgba(0, 0, 0, 0.05);  
  --negro-sombra1:rgba(0, 0, 0, 0.3);
  --negro-pelo:rgba(0,0,0,0.4);
  --negro-perla:rgba(0,0,0,.5);
  --negro-gris:rgba(0, 0, 0, 0.07);
  --negro-total:rgba(0, 0, 0, 0.02);
  --negro-oscuro:rgba(0, 0, 0, 0.44); 
  --negro-marron:rgba(45, 241, 163, 0.00); 
  --negro:rgba(0,0,0,.08);
  --negro-clavo:rgba(0, 0, 0, 0.85);
  --negro-pimienta:rgba(0, 0, 0, .67);
  --negro-noche:#222;
  --negro-codigo:#000;  
  --gris-lunada:rgba(153,153,153,.4);
  --gris-acero:rgba(140,140,140,0.6); 
  --gris-tierra:#37404A;
  --gris-ambrosia:#434e58;
  --gris:#666;
  --gris-humo:#888;
  --gris-humedo:#555;
  --gris-oscuro:#999;  
  --gris-blanco: #e2e2e2;  
  --gris-claro: #aaa;
  --gris-plata:#a1a1a1;
  --gris-blanco:#ccc;  
  --gris-mar:#2c3e50;
  --gris-azul:#1b2631;
  --gris-azulado:#34495e;
  --gris-acero:#777;
  --gris-luvia:#5e5f64;
  --gris-luna:#444;
  --gris-crema:#b4b4b4;
  --gris-cenizo:#bbb;
  --gris-nieve:#e3e3e3;
  --gris-pizarra:#bcbcbc;
  --gris-cielo:#cbcbcb;
  --blanco:white;  
  --blanco-helado:#eee;
  --blanco-nube:#f5f5f5;
  --blanco-cielo:#ffffff;
  --blanco-nieve:#FFF;
  --blanco-puro:#fff;
  --blanco-seda:#cccccc;
  --blanco-tiza:#EEEEEE;
  --blanco-nacar:#fefefe;
  --blanco-marfil:#E9EAED;
  --blanco-floral:#e9eaed;
  --blanco-flor:(255, 255, 255, 0);
  --blanco-menta:rgba(255,255,255,.1);
  --blanco-fantasma:rgb(237, 237, 237) ;
  --blanco-concha:rgba(255, 255, 255, 0.95);    
  --blanco-perla:rgb(237, 237, 237);
  --blanco-crema:rgb(237, 255, 242);
  --blanco-paño:rgba(255, 255, 255, 0.75);
  --verde-menta:#bae6c6;
  --verde-alegre: rgb(75 , 187, 79);
  --verde-militar:rgba(69,177,93,.2);
  --verde-helecho:rgba(24, 156, 100,.6);
  --verde-verdoso:rgba(15, 116, 91, 0.7);
  --verde-verdoso2: rgb(15, 116, 91);
  --verde-manzana:rgba(25, 159, 101, .8);
  --verde-bosque:green;
  --verde-principal:#0f745b;
  --verde-marino:#2dbf85;
  --verde-primavera:#38ba8f;
  --verde-medio:#099472;
  --verde-oscuro:#064234;
  --verde-esmeralda:#009688;
  --verde-hoja:#00796b; 
  --verde-rana: #27ae60;
  --verde-lima:#29c44b; 
  --verde-rama:#146c47;
  --verde-oliva:#189c64;
  --verde-alga:#34d056;
  --verde-mar:#3f9f43;
  --verde-pasta:#3bc742;
  --verde-flor:#2df1a3;
  --verde-azulado:#1bba93;
  --azul:blue;
  --azul-coral:rgb(30, 109, 185);
  --azul-pizarra:#5ab6ae;
  --azul-luna:#47627d;
  --azul-medio:#2980b9;
  --azul-purpura:#1e6db9;
  --azul-claro:#3498db;
  --azul-oscuro:#27649b;
  --azul-fuerte: #2c77ba;
  --azul-caribe:#2c52ba; 
  --azul-marino:#010365;
  --azul-celeste:#2062b9;
  --azul-real:#1f98c7;
  --azul-turquesa:#58b3f0;
  --azul-cielo:#c6e2ee;
  --azul-hielo:#dde;  
  --rojo-anaranjado:#dc4747;  
  --rojo-escarlata:#ff5b5b;
  --rojo-cereza:#8f0000;
  --naranja:orangered;
  }

=======
  --button-disabled: lightblue;
}
>>>>>>> 3c69907484ac9bf5b965897137b31738bfd25fdd

