.high-contrast{
  --wl_dark:           #8abf4d;
  --wl_primary:        #b0f563;
  --wl_light:          #a1e639;
  --wl_subtle:         #00131a;
  --wl_btn_bg_ico:     rgba(0,0,0,.1);
  --wl_btn_content:    #111111;
  --wl_btn_disable:    #c0d4be;
  --wl_border:         #B4CADE;
  --wl_gray_light:     #1C2D38;
  --wl_gray:           #B4CADE;
  --wl_form_bg:        #192326;
  --wl_tab_bg:         #141414;
  --wl_tab_color:      #2A3B40;
  --wl_tab_shw:        #1F3340;
  --wl_tab_text:       #a1e639;
  --wl_input_bg:       #141414;
  --wl_input_text:     #9CDCFE;
  --wl_input_text_ph:  #cccccc;  
  --wl_text:           #eeeeee;
  --wl_text_error:     #b12727;
  --wl_primary_hover:  rgba(0, 0, 0, 0.25); 
  --wl_primary_active: rgba(255, 255, 255, 0.25);
  --wl_link:           #5bc29f;

  --wl_footer_bg:      #000000;
  --wl_footer_text:    #9cdcfe;  
  --wl_search_sha:     rgba(176, 226, 226, 0.30);
  --wl_search_sha_foc: rgba(176, 245, 99,.6);

  --wl_form_sha1:      rgba(0, 60, 78, 0.75);
}