.high-contrast {
  --button-disabled: rgba(0,255,0, 1);
  --tapiz:#1C2D38;
  --tapiz-contenido:rgba(0,0,0,0.59);
  --tapiz-contenido-b:#000;
  --tapiz-contenido-s:#000;
  --box-controles:#faf;
  --box-controles-r:#ccc;
  --contenedor-f:rgba(0,0,0,0.59);
  --contenedor-f-p:#8ff;
  --contenedor-f-b:#faf;
  --busqueda-r:rgba(0,0,0,0.59);
  --busqueda-s:#aaa;
  --res-desc:#8ff;
  --busqueda-men:#cfd6e5;
  --busqueda-b:#9a9797;
  --busqueda-d:#cfd6e5;
  --btn:#dcf8c7;
  --btn-c:#04230a;
  --btn-con:#a7d4a4;
  --btn-con-a:#91bf8e;
  --btn-con-i:#2980b9;
  --btn-con-h:#3498db;
  --btn-con-ac:#27649b;
  --btn-t:#666;
  --btn-b:#aaa;
  --btn-t-h:#EEEEEE;
  --btn-t-s:#aaa;
  --btn-t-a:#ccc;
  --btn-t-o:#EEEEEE;
  --btn-o-s:#aaa;
  --btn-o-c:#2c77ba;
  --btn-i:#aaa;
  --botones-t:rgba(0,0,0,.08);
  --btn-sin:#DCF8C7;
  --btn-sin-i:#04230a;
  --btn-sin-h:#A7D4A4;
  --btn-sin-a:#91bf8e;
  --btn-in:#dcf8c7;
  --btn-in-s:#04230a;
  --tarjetas-a-c:#7fde49;
  --tarjets-c:#fff;
  --tarjetas-s:#C6E2EE;
  --tarjetas-con:#ccc;
  --tarjetas-a:#fefefe;
  --tarjetas-b:#ddd;
  --tarjetas-bx:rgba(0, 0, 0, 0.44);
  --tarjetas-ch:#2c77ba;
  --tarjetas-ah:#c6e2ee;
  --documento:#fff;
  --docuemnto-a:#dde;
  --documento-actual:#27ae60;
  --documento-p:#555;
  --tarjetas-tit:#2c77ba;
  --tarjetas-subc:#34495e;
  --anotacion:#34495e;
  --filtro-li:rgba(153,153,153,.4);
  --tip:#fff;
  --desc:#7fde49;
  --btn-se-b:#a7d4a4;
  --btn-se-c:#000;
  --btn-se-h:#72be6d;
  --btn-se-a:#91bf8e;
  --btn-del-b:#dc4747;
  --btn-del-c:#fff;
  --btn-del-h:#ff5b5b;
  --btn-del-a:#8f0000;
  --bar-li-c:#fff;  
  --bar-ordenamieto:#7fde49;
  --news:#aaa;
  --titulo-n:#8FF;
  --titulo-n-b:rgba(0, 0, 0, 0.3);
  --titulo-n-s:#ccc;
  --news-t:rgba(35, 180, 74, 0.4);
  --news-t-s:(35, 180, 74, 0.4);
  --news-t-b:rgba(0, 0, 0, 0.59);
  --control-i:#000;
  --control-i-b:#00FFFF;
  --control-p:rgb(0, 0, 0);
  --control-p-b:#aaa;
  --a-bloques:#aaa;
  --a-bloques-c:#00ffff;
  --note:#eee;
  --note-wmb:#eee;
  --note-b:#aaa;
  --note-c:#000;
  --note-be-wmb:#000;
  --a-bloques-i:#000;
  --a-input:rgba(52,71,79,0.5 ); /*en contraste normal falta*/
  --a-input-border:#faf3dd; /*estaba comentado en original*/
  --a-input-c:#fff; /*en contraste normal falta*/
  --input-t:#faf;
  --input-t-b:rgba(52,71,79,0.5);
  --input-t-f:#000;
  --input-t-c:#fff;
  --a-input-h:#8ff;
  --a-input-h-b:#000;
  --a-input-f-c:#faf3dd;
  --a-input-f-b:#000; /*---- Falta contenido en contr nor ----*/
  --a-input-we:#000;
  --a-input-fo:#faf;
  --a-input-fo-b:#000;
  --a-input-fo-c:#fff;/*---- Falta contenido en contr nor ----*/
  --a-input-ac:#000;
  --ico-inpt:#0f745b;
  --ico-inpt-c:#fff;
  --btn-can:#000;
  --btn-can-b:#faf;
  --btn-can-c:#b8ed95;
  --btn-can-d:#000;
  --btn-can-s:#b8ed95;
  --a-lis:#aaa;
  --a-lis-f:#aaa;
  --label-st:#fff;
  --label-st-h:rgba(255, 255, 255, 0.5);
  --label-st-p:#b0f563;
  --input-st-b:rgba(255, 255, 255, 0.3);
  --label-st-b:#000;
  --lable-st-bc:#a7d4a4;
  --mini-se:rgba(176, 226, 226, 0.30);
  --mini-se-in:#444;
  --mini-se-inb:#fff;
  --mini-se-b:rgba(47,182,54,0.6);
  --mini-se-bu:#a7d4a4;
  --mini-se-bu-c:#000;
  --mini-ani:rgba(47, 182, 54, 0.60);
  --select:rgba(52,71,79,0.5);
  --select-in:rgba(52,71,79,0.5);
  --select-se:rgba(52,71,79,0.8);
  --select-se-b:#fff;
  --select-se-c:#f191f1;  /*---falta en cont nor ----*/
  --select-be:#8ff;
  --select-ho:#faf;
  --select-hb:#faf;
  --select-fcu:#faf;
  --select-web:white;
  --switch-l:#8ff;
  --switch-b:#fff;
  --switch-br:#000;
  --switch-af:#000;
  --switch-lb:#91bf8e;
  --swith-ch:#000;  
  --checkbox-l:#29022c;
  --checkbox-b:#EEEEEE;
  --checkbox-br:#970C97;
  --checkbox-ch:#DCF8C7;
  --checkbox-br:#91BF8E;
  --radio-l:#fff;
  --radio-l-br:#6c6767;
  --radio-ch:#fff;
  --radio-ch-br:#45c8a8;
  --radio-ch-l:#fff;/*  
  --tabla:#000;
  --tabla-t:#00f;
  --tabla-c:#f0f;
  --tabla-bt:#00f;
  --tabla-tr:#333;
  --tabla-nth:#000;  */
  --tabs-bx:#ccc;
  --tabs-b:rgba(0,121,107,1);
  --tabs-ul:#fff;
  --tabs-li:rgba(0,121,107,0.6);
  --tabs-box:#ccc;
  --tabs-af:rgba(0,121,107,1);
  --tabs-ho:rgba(255,255,255,.2);
  --tabs-ho-c:#d6e587;
  --tabs-ac:#00d2ba;
  --tabs-ac-c:#041f04;
  --area-t:#ccc;
  --area-t-b:#3f9f43;
  --area-t-bs:rgb(75 , 187, 79);
  --footer:#000000;
  --footer-c:#eee;
  --footer1:rgba(255,255,255,0.05);
  --footer2:#eee;
  --footer1-dv:#eee;
  --footer1-hr:  rgba(255,255,255,.2);
  --footer1-p:#eee;
  --link-c:#eee;
  --ico-f:#eee;
  --ico-f-ho:#5ab6ae;/*
  --footer-m:#2c3e50;
  --footer-mc:#eee;*/
  --footer-ch:#000000;
  --uploader:#000;
  --uploader-line:#8ff;
  --uploader-la:#fff;
  --uploader-sp:#fff;
  --uploader-dra: red;
  --uploader-dra-b:rgba(0, 0, 0, 0.8);
  --uploader-dra-s:#e5e5e5;
  --uploader-bar:#8ff;  
  --bar-pc:#000;
  --loader:#2df1a3;
  --loader-mz:#000;
  --loader-mzg:rgba(0, 0, 0, 0);  
  --loader-li2:rgba(45, 241, 163, 0.00);
  --loader-be:#1bba93;
  --loader-af:#000; 
  --login-ti:#fff;
  --login-tib:rgba(45, 245, 163, 0.7);
  --titulo-c:#fff;
  --titulo-b:rgb(15, 116, 91, 0.5);
  --validacion:rgb(253, 191, 67); 
  --campos:rgb(253, 191, 67);
  --texto-la:#8ff;
  --texto-lag:#8ff;
  --label-subc:#8ff;
  --gestion-dv:#ccc;
  --arriba-b:  rgba(153, 229, 103, 0.7);
  --arriba-c:rgba(0,0,0, 0.9);
  --logo-fi:rgba(0, 0, 0, 0.85);
  --pagina-n:#8ff;
  --pagina-ns:rgba(140,140,140,0.6);
  --pagina-ns2:rgba(140,140,140,0.6);
  --image-s:#460700;  
  --image-f:#810c00;
  --login-co:rgba(0, 0, 0, 0.05);
  --login2-co:rgba(0, 0, 0, 0.3);
  --login-fo:rgba(0, 0, 0, 0.9);
  --login-me:blueviolet;  
  --login-meb:#bbb;
  --permisos-co:#fff;
  --permisos-cp:#CFD6E5;
  --permiso-es:#faf;
  --modulo-ti:#ccc;
  --modulo-tib:rgba(102, 102, 102, 0.41);
  --modulo-tp:#cfd6e5 ;
  --admon-ta:rgba(0,0,0,0.59);
  --con-olv:#c83d3d;
  --login-bx:rgba(52,71,79,0.5);
  --box-ri:#fff;
  --foto-us:#eee;
  --foto-sp:red;
}

