:root {
  --wl_dark:           #00594F;  
  --wl_primary:        #00796B;
  --wl_light:          #38ba8f;
  --wl_subtle:         #e0fcf3;
  --wl_btn_bg_ico:     rgba(0,0,0,.1);
  --wl_btn_content:    #ffffff;
  --wl_btn_disable:    #727272;
  --wl_border:         #CCCCCC;
  --wl_gray_light:     #e1e1e1;
  --wl_gray:           #aaaaaa;
  --wl_form_bg:        #ffffff;
  --wl_tab_bg:         #e1e1e1;
  --wl_tab_color:      #efeffe;
  --wl_tab_shw:        #CCCCCC;
  --wl_tab_text:       #00796B;
  --wl_input_bg:       #ffffff;
  --wl_input_text:     #111111;  
  --wl_input_text_ph:  #444444;  
  --wl_text:           #434e58;
  --wl_text_error:     #b12727;
  --wl_text_info:      #4543b6;
  --wl_bg_error:       #fce0e0;
  --wl_primary_hover:  rgba(255, 255, 255, 0.25);
  --wl_primary_active: rgba(0, 0, 0, 0.25);  
  --wl_link:           #0000ff;

  --wl_footer_bg:      #1F2B38;
  --wl_footer_text:    #e1e1e1;  
  --wl_search_sha:     rgba(17, 21, 21, 0.3); 
  --wl_search_sha_foc: rgba(0, 121, 107,.6);

  --wl_form_sha1:      rgba(0, 0, 0, 0.4);

  --wl_menu_bg:        #020813;
}