.high-contrast {
  --button-disabled: rgba(0,255,0, 1);
  --Anegro-noche:rgba(0,0,0,0.59);
  --Anegro-piso:rgba(0,0,0,.08);
  --Anegro-arbol:rgba(0, 0, 0, 0.44);
  --Anegro-medio:rgba(0, 0, 0, 0.3);
  --Anegro-fuerte:rgb(0, 0, 0);
  --Anegro-gris-: rgba(0, 0, 0, 0.8);
  --Anegro-marea:rgba(45, 241, 163, 0.00);
  --Anegro-tierra:rgba(45, 241, 163, 0.7);
  --Anegro-lunada:rgba(0,0,0, 0.9);
  --Anegro-crema:rgba(0, 0, 0, 0.85); 
  --Anegro-nocturno:rgba(0, 0, 0, 0.05);
  --Anegro-luna:#1C2D38;
  --Anegro-verdoso:#04230a;
  --Anegro-oscuro:#000000;
  --Anegro:#000;
  --Arosa:#faf;
  --Arosa-floral:#f191f1;
  --Arojo: red;
  --Arojo-naranja:#dc4747;
  --Arojo-rosa:#ff5b5b;
  --Arojo-fuerte:#8f0000;
  --Arojo-cereza:#810c00;
  --Arojo-vinotinto:#460700;
  --Arojo-tomate:#c83d3d;
  --Agris-plata:rgba(140,140,140,0.6);
  --Agris-metal:rgba(153,153,153,.4);
  --Agris-fuerte:rgba(52,71,79,0.5 );
  --Agris-mar:rgba(52,71,79,0.5);
  --Agris-mate:rgba(176, 226, 226, 0.30);
  --Agris-negro:rgba(52,71,79,0.8);
  --Agris-lluvia:rgba(102, 102, 102, 0.41);  
  --Agris-menta:#ccc;
  --Agris-luna:#aaa;
  --Agris-oscuro:#555;
  --Agris-primero:#444;
  --Agris-Azul:#cfd6e5;
  --Agris-palido:#9a9797;
  --Agris-nevado:#6c6767;
  --Agris-medio:#666;
  --Ablanco-menta:rgba(255,255,255,0.05);
  --Ablanco-miel:rgba(255, 255, 255, 0.5);
  --Ablanco-seda:rgba(255, 255, 255, 0.3);
  --Ablanco-nevado:rgba(255,255,255,.2);
  --Ablanco-tiza:#fff;
  --Ablanco-liso:#ddd;
  --Ablanco-gris:#dde;
  --Ablanco-vela:#eee;
  --Ablanco-nube: white;
  --Ablanco-verdoso:#dcf8c7;
  --Ablanco-papel:#c6e2ee;
  --Ablanco-cenizo:#EEEEEE;
  --Ablanco-igual:#DCF8C7; /*■■■■■■■■■■■■ son iguales  ■■■■■■■■■■■■■■■*/
  --Ablanco-azul:#C6E2EE;
  --Ablanco-puro:#faf3dd;
  --Ablanco-crema:#fefefe;
  --Ablanco-cacao:#e5e5e5;
  --Aazul-turquesa:#8ff;
  --Aazul-capota:#5ab6ae;
  --Aazul-pizarra:#00d2ba;
  --Aazul-verdoso:#1bba93;  
  --Aazul-agua:#00FFFF;
  --Aazul-marea:#45c8a8;
  --Aazul-fuerte:#00f;
  --Aazul-celeste:#2980b9;
  --Aazul-cielo:#3498db;
  --Aazul-mar:#27649b;
  --Aazul-playa:#2c77ba;
  --Aazul-osucuro:#34495e;
  --Averde-aguacate:rgba(35, 180, 74, 0.4);
  --Averde-militar:rgba(47,182,54,0.6);
  --Averde-bosque:rgba(47, 182, 54, 0.60);
  --Averde-lulo:rgba(0,121,107,1);
  --Averde-hoja:rgb(75 , 187, 79) ;
  --Averde-rana:rgba(15, 116, 91, 0.5);
  --Averde-aniz:rgba(153, 229, 103, 0.7);
  --Averde-añil:#041f04;
  --Averde-primavera:#d6e587;
  --Averde-Palido:#a7d4a4;
  --Averde-palo:#A7D4A4;
  --Averde-fiesta:#7fde49;
  --Averde-manzana:#27ae60;
  --Averde-cereza:#72be6d;
  --Averde-mango:#2df1a3;
  --Averde-fresa:#91bf8e;
  --Averde-oliva:#b8ed95;
  --Averde-pepino:#3f9f43;
  --Averde-lima:#b0f563;
  --Averde-oscuro:#0f745b;
  --Amorado:#29022c;
  --Amorado-lila:#970C97;
  --Aamarillo:rgb(253, 191, 67);
  
}
