html {
  --button-disabled: rgba(255, 0, 0, 1);
  --tapiz:#E1E3E9;
  --tapiz-contenido:#fff; 
  --tapiz-contenido-b:rgba(0, 0, 0, 0.05);
  --tapiz-contenido-s:rgba(0, 0, 0, 0.3);
  --box-controles:#e2e2e2;
  --box-controles-r:#e2e2e2;
  --contenedor-f:#fff;
  --contenedor-f-p:#0f745b;
  --contendero-f-b:#0f745b;
  --busqueda-r:#fff;
  --busqueda-s:#aaa;
  --res-desc:#47627d;
  --busqueda-men:#666;
  --busqueda-b:#666;
  --busqueda-d:#999;
  --btn:#0f745b;
  --btn-c:#fff;
  --btn-con:#099472;
  --btn-con-a:#064234;
  --btn-con-i:#2980b9;
  --btn-con-h:#3498db;
  --btn-con-ac:#27649b;
  --btn-t:#666;
  --btn-b:#aaa;
  --btn-t-h:#EEEEEE;
  --btn-t-s:#aaa;
  --btn-t-a:#ccc;
  --btn-t-o:#EEEEEE;
  --btn-o-s:#aaa;
  --btn-o-c:#2c77ba;
  --btn-i:#aaa;
  --botones-t:rgba(0,0,0,.08);
  --btn-sin:#0f745b;
  --btn-sin-i:#fff;
  --btn-sin-h:#009688;
  --bnt-sin-a:#064234;
  --btn-in:#00796b;
  --btn-in-s:#fff;
  --tarjetas-a-c:#0f745b;
  --tarjetas-c:#222;
  --tarjetas-s:#666;
  --tarjetas-con:#ccc;
  --tarjetas-a:#222;
  --tarjetas-b:#ddd;
  --tarjetas-bx:rgba(0, 0, 0, 0.44);
  --tarjetas-ch:#2c77ba;
  --tarjetas-ah:#c6e2ee;
  --documento:#fff;
  --documento-a:#dde;
  --documento-actual:#27ae60;
  --documento-p:#555;
  --tarjetas-tit:#2c77ba;
  --tarjetas-subc:#34495e;
  --anotacion:#34495e;
  --filtro-li:rgba(153,153,153,.4);
  --tip:#099472;
  --desc:#777;
  --btn-se-b:#475753;
  --btn-se-c:white;
  --btn-se-h:#099472;
  --btn-se-a:#064234;
  --btn-del-b:#dc4747;
  --btn-del-c:#fff;
  --btn-del-h:#ff5b5b;
  --btn-del-a:#8f0000;
  --bar-li-c:#222;
  --bar-ordenamiento:#099472;
  --avanzada:#2c52ba;
  --avanzada-s:#bbb;
  --news:#aaa;
  --titulo-n:#FFF;
  --titulo-n-b:rgba(0, 0, 0, 0.3);
  --titulo-n-s:#ccc;
  --news-t:rgba(0, 0, 0, 0.05);
  --news-t-s:rgba(0, 0, 0, 0.3);
  --newa-t-b:rgba(255, 255, 255, 0.95);
  --control-i:#37404A;
  --control-i-b:white;
  --control-p:rgb(237, 237, 237);
  --control-p-b:#a1a1a1;
  --a-bloques:#a1a1a1;
  --a-bloques-c:#29c44b;
  --note:#fff;
  --note-wmb:rgba(0,0,0,0.4);
  --note-b:#aaa;
  --note-c:rgb(237, 237, 237);
  --note-be-wmb:rgba(0,0,0,0.4);
  --a-bloques-i:green;
  --a-input-border:#bbb;  /*en contraste normal falta  background y color*/
  --input-t:#38ba8f;
  --input-t-b:rgb(237, 255, 242);
  --input-t-c:#bae6c6; /* original no tiene falta en norma --input-t-f corresponde a border-color */
  --a-input-h:#888;
  --a-input-h-b:rgba(0, 0, 0, 0.02);
  --a-input-f-c:#0f745b;
  --a-input-f-b:rgb(237, 255, 242); /*---- falta contenido en contr nor ----*/
  --a-input-we:white;
  --a-input-fo:#38ba8f;
  --a-input-fo-b:rgb(237, 255, 242);/*---- falta contenido en contr nor  color----*/ 
  --a-input-ac:white;
  --ico-inpt:#0f745b;
  --ico-inpt-c:#fff;
  --btn-can:#fff;;
  --btn-can-b:#bbb;
  --btn-can-c:#666;
  --btn-can-d:#fff;
  --btn-can-s:#666;
  --a-lis:#a1a1a1;
  --a-lis-f:#a1a1a1;
  --label-st:#222;
  --label-st-h:rgba(69,177,93,.2);
  --label-st-p:#0f745b;
  --input-st-b:rgba(69,177,93,.2);
  --label-st-b:#fff;
  --label-st-bc:#2dbf85;
  --mini-se:rgba(17, 21, 21, 0.3);
  --mini-se-in:#444;
  --mini-se-inb:#fff;
  --mini-se-b:#146c47;
  --mini-se-bu:#189c64;
  --mini-se-bu-c:#fff;
  --mini-ani:rgba(24, 156, 100,.6);
  --select:#e3e3e3;
  --select-in:#e3e3e3;
  --select-se:#fff;/*---falta en cont nor  select-se-c----*/
  --select-se-b:#999;
  --select-be:#999;
  --select-ho:#099472;
  --select-hb:#999;
  --select-fcu:#38ba8f;
  --select-web:white;  
  --switch-l:#a1a1a1;
  --switch-b:#b4b4b4;
  --switch-br:#fff;
  --switch-af:#5e5f64;
  --switch-lb:#34d056;
  --swith-ch:#5e5f64;
  --checkbox-l:#fff;
  --checkbox-b:#ccc;
  --checkbox-br:#bbb;
  --checkbox-ch:#2c77ba;
  --checkbox-br:#1f98c7;
  --radio-l:#ccc;
  --radio-l-br:#aaa;
  --radio-ch:#58b3f0;
  --radio-ch-br:#2c77ba;
  --radio-ch-l:#000;
  --tabla:#bcbcbc;
  --tabla-t:#ccc;
  --tabla-c:#222;
  --tabla-bt:#cbcbcb;
  --tabla-tr:#f5f5f5;
  --tabla-nth:#fff;
  --tabs-bx:#ccc;
  --tabs-b:#eee;
  --tabs-ul:#555;
  --tabs-li:white;
  --tabs-box:#ccc;
  --tabs-af:#2dbf85;
  --tabs-ho:rgba(0,0,0,.01);
  --tabs-ho-c:#2dbf85;
  --tabs-ac:white;
  --tabs-ac-c:#2dbf85;
  --area-t:#a1a1a1;
  --area-t-b:#3f9f43;
  --area-t-bs:rgb(75 , 187, 79);
  --footer:#2c3e50;
  --footer-c:#eee;
  --footer1:rgba(0,0,0,.3);
  --footer2:#eee;
  --footer1-dv:#eee;
  --footer1-hr:  rgba(255,255,255,.1);
  --footer1-p:#eee;
  --link-c:#eee;
  --ico-f:#eee;
  --ico-f-ho:#5ab6ae;
  --footer-m:#2c3e50;
  --footer-mc:#eee;
  --footer-ch:#1b2631;
  --uploader:#cccccc;
  --uploader-line:#cccccc;
  --uploader-la:rgba(0,0,0,.5);
  --uploader-sp:rgba(0,0,0,.5);
  --uploader-dra: rgb(30, 109, 185);
  --uploader-dra-b:rgba(0, 0, 0, 0.07);
  --uploader-dra-s:#1e6db9; 
  --uploader-bar:#3bc742;   
  --bar-pc:white;
  --loader-li:#2df1a3;
  --loader-mz:#ffffff;
  --loader-mzg:rgba(255, 255, 255, 0);
  --loader-li2:rgba(45, 241, 163, 0.00);
  --loader-be:#1bba93;
  --loader-af:#ffffff; 
  --login-ti:white;
  --login-tib:rgba(15, 116, 91, 0.7);
  --titulo-c:white;
  --titulo-b:rgb(15, 116, 91);
  --validacion:orangered;
  --campos:#666;
  --texto-la:#434e58; 
  --texto-lag:#0f745b;
  --label-subc:#434e58;
  --gestion-dv:#434e58;
  --arriba-b:   rgba(25, 159, 101, .8);
  --arriba-c:white;
  --logo-fi:rgba(0, 0, 0, 0.85);  
  --pagina-n:white;
  --pagina-ns:rgba(140,140,140,0.6);
  --pagina-ns2:rgba(0,0,0,0.67);
  --image-s:#010365;  
  --image-f:#810c00;
  --login-co:rgba(0, 0, 0, 0.05);
  --login2-co:rgba(0, 0, 0, 0.3);
  --login-fo:rgba(255, 255, 255, 0.75);
  --login-me:#999;  
  --login-meb:#bbb;
  --permisos-co:#ccc;
  --permisos-cp:#444;
  --permiso-es:#2062b9;
  --modulo-ti:#ccc;
  --modulo-tib:#E9EAED;
  --modulo-tp:#222 ;
  --admon-ta:#e9eaed;
  --con-olv:blue;
  --login-bx:#fff;
  }

