:root {
  --wl_dark:           #064234;  
  --wl_primary:        #00796B;
  --wl_light:          #38ba8f;
  --wl_subtle:         #e0fcf3;
  --wl_btn_bg_ico:  rgba(0,0,0,.1);
  --wl_btn_content:    #ffffff;
  --wl_btn_disable:    #999999;
  --wl_border:         #CCCCCC;
  --wl_gray_light:     #e1e1e1;
  --wl_gray:           #aaaaaa;
  --wl_form_bg:        #ffffff;
  --wl_tab_bg:         #e1e1e1;
  --wl_tab_shw:        #CCCCCC;
  --wl_input_bg:       #ffffff;
  --wl_input_text:     #111111;  
  --wl_input_text_ph:  #444444;  
  --wl_text:           #434e58;
  --wl_text_error:     #ff4500;
  --wl_primary_hover:  rgba(255, 255, 255, 0.25);
  --wl_primary_active: rgba(0, 0, 0, 0.25);  
  --wl_link:           #0000ff;

  --wl_footer_bg:      #1F2B38;
  --wl_footer_text:    #e1e1e1;  
}