:root {
  --wl_dark:           #064234;  
  --wl_primary:        #00796B;
  --wl_light:          #38ba8f;
  --wl_subtle:         #e0fcf3;
  --wl_btn_bg_ico:  rgba(0,0,0,.1);
  --wl_btn_content:    #ffffff;
  --wl_btn_disable:    #999999;
  --wl_border:         #CCCCCC;
  --wl_gray_light:     #e1e1e1;
  --wl_gray:           #aaaaaa;
  --wl_form_bg:        #ffffff;
  --wl_tab_bg:         #e1e1e1;
  --wl_tab_shw:        #CCCCCC;
  --wl_input_bg:       #ffffff;
  --wl_input_text:     #111111;  
  --wl_input_text_ph:  #444444;  
  --wl_text:           #434e58;
  --wl_text_error:     #ff4500;
  --wl_primary_hover: rgba(255, 255, 255, 0.25);
  --wl_primary_active: rgba(0, 0, 0, 0.25);  
}

/* --wl_text_dark:      #364047; */

.azul {
  --res-desc: #47627d;
  --tarjetas-subc: #34495e;
  --footer: #2c3e50;

  --tarjetas-ah: #c6e2ee;
  --radio-ch: #58b3f0;
  --btn-con-h: #3498db;
  --checkbox-br: #1f98c7;
  --btn-con-i: #2980b9;
  --btn-con-ac: #27649b;
  --radio-ch-br: #2c77ba;
  --btn-o-c: #2c77ba;
  --tarjetas-ch: #2c77ba;
  --tarjetas-tit: #2c77ba;
  --checkbox-ch: #2c77ba;
  --uploader-dra: rgb(30, 109, 185);
  --uploader-dra-s: #1e6db9;
  --permiso-es: #2062b9;

  --avanzada: #2c52ba;
  --con-olv: blue;
  --image-s: #010365;
}

.rojo {
  --button-disabled: rgba(255, 0, 0, 1);
  --btn-del-b: #dc4747;
  --btn-del-h: #ff5b5b;
  --btn-del-a: #8f0000;
  --validacion: orangered;
  --image-f: #810c00;
}


:root {
  --btn-se-b: #475753;

  --tapiz: #E1E3E9;
  --tapiz-contenido: #fff;
  --tapiz-contenido-b: rgba(0, 0, 0, 0.05);
  --tapiz-contenido-s: rgba(0, 0, 0, 0.3);
  --box-controles: #e2e2e2;
  --box-controles-r: #e2e2e2;
  --contenedor-f: #fff;

  --busqueda-r: #fff;
  --busqueda-s: #aaa;

  --busqueda-men: #666;
  --busqueda-b: #666;
  --busqueda-d: #999;
  --btn-c: #fff;
  --btn-t: #666;
  --btn-b: #aaa;
  --btn-t-h: #EEEEEE;
  --btn-t-s: #aaa;
  --btn-t-a: #ccc;
  --btn-t-o: #EEEEEE;
  --btn-o-s: #aaa;
  --btn-i: #aaa;
  --botones-t: rgba(0, 0, 0, .08);
  --btn-sin-i: #fff;
  --btn-in-s: #fff;
  --tarjetas-c: #222;
  --tarjetas-s: #666;
  --tarjetas-con: #ccc;
  --tarjetas-a: #222;
  --tarjetas-b: #ddd;
  --tarjetas-bx: rgba(0, 0, 0, 0.44);
  --documento: #fff;
  --documento-a: #dde;
  --documento-p: #555;
  --anotacion: #34495e;
  --filtro-li: rgba(153, 153, 153, .4);
  --desc: #777;
  --btn-se-c: white;
  --btn-del-c: #fff;
  --bar-li-c: #222;
  --avanzada-s: #bbb;
  --news: #aaa;
  --titulo-n: #FFF;
  --titulo-n-b: rgba(0, 0, 0, 0.3);
  --titulo-n-s: #ccc;
  --news-t: rgba(0, 0, 0, 0.05);
  --news-t-s: rgba(0, 0, 0, 0.3);
  --news-t-b: rgba(255, 255, 255, 0.95);
  --control-i: #37404A;
  --control-i-b: white;
  --control-p: rgb(237, 237, 237);
  --control-p-b: #a1a1a1;
  --a-bloques: #a1a1a1;
  --note: #fff;
  --note-wmb: rgba(0, 0, 0, 0.4);
  --note-b: #aaa;
  --note-c: rgb(237, 237, 237);
  --note-be-wmb: rgba(0, 0, 0, 0.4);
  --a-input-border: #bbb;
  /*en contraste normal falta  background y color*/
  --a-input-h: #888;
  --a-input-h-b: rgba(0, 0, 0, 0.02);
  --a-input-f-b: rgb(237, 255, 242);
  /*---- falta contenido en contr nor ----*/
  --a-input-we: white;
  --a-input-fo-b: rgb(237, 255, 242);
  /*---- falta contenido en contr nor  color----*/
  --a-input-ac: white;
  --ico-inpt-c: #fff;
  --btn-can: #fff;
  ;
  --btn-can-b: #bbb;
  --btn-can-c: #666;
  --btn-can-d: #fff;
  --btn-can-s: #666;
  --a-lis: #a1a1a1;
  --a-lis-f: #a1a1a1;
  --label-st: #222;
  --label-st-b: #fff;
  --mini-se: rgba(17, 21, 21, 0.3);
  --mini-se-in: #444;
  --mini-se-inb: #fff;
  --mini-se-bu-c: #fff;
  --select: #e3e3e3;
  --select-in: #e3e3e3;
  --select-se: #fff;
  /*---falta en cont nor  select-se-c----*/
  --select-se-b: #999;
  --select-be: #999;
  --select-hb: #999;
  --select-web: white;
  --switch-l: #a1a1a1;
  --switch-b: #b4b4b4;
  --switch-br: #fff;
  --switch-af: #5e5f64;
  --switch-ch: #5e5f64;
  --checkbox-l: #fff;
  --checkbox-b: #ccc;
  --checkbox-br: #bbb;
  --radio-l: #ccc;
  --radio-l-br: #aaa;
  --radio-ch-l: #000;
  --tabla: #bcbcbc;
  --tabla-t: #ccc;
  --tabla-c: #222;
  --tabla-bt: #cbcbcb;
  --tabla-tr: #f5f5f5;
  --tabla-nth: #fff;
  --tabs-bx: #ccc;
  --tabs-b: #eee;
  --tabs-ul: #555;
  --tabs-li: white;
  --tabs-box: #ccc;
  --tabs-ho: rgba(0, 0, 0, .01);
  --tabs-ac: white;
  --area-t: #a1a1a1;
  --footer-c: #eee;
  --footer1: rgba(0, 0, 0, .3);
  --footer2: #eee;
  --footer1-dv: #eee;
  --footer1-hr: rgba(255, 255, 255, .1);
  --footer1-p: #eee;
  --link-c: #eee;
  --ico-f: #eee;
  --footer-mc: #eee;
  --footer-ch: #1b2631;
  --uploader: #cccccc;
  --uploader-line: #cccccc;
  --uploader-la: rgba(0, 0, 0, .5);
  --uploader-sp: rgba(0, 0, 0, .5);
  --uploader-dra-b: rgba(0, 0, 0, 0.07);
  --bar-pc: white;
  --loader-mz: #ffffff;
  --loader-mzg: rgba(255, 255, 255, 0);
  --loader-af: #ffffff;
  --login-ti: white;
  --titulo-c: white;
  --campos: #666;
  --texto-la: #434e58;
  --label-subc: #434e58;
  --gestion-dv: #434e58;
  --arriba-c: white;
  --logo-fi: rgba(0, 0, 0, 0.85);
  --pagina-n: white;
  --pagina-ns: rgba(140, 140, 140, 0.6);
  --pagina-ns2: rgba(0, 0, 0, 0.67);
  --login-co: rgba(0, 0, 0, 0.05);
  --login2-co: rgba(0, 0, 0, 0.3);
  --login-fo: rgba(255, 255, 255, 0.75);
  --login-me: #999;
  --login-meb: #bbb;
  --permisos-co: #ccc;
  --permisos-cp: #444;
  --modulo-ti: #ccc;
  --modulo-tib: #E9EAED;
  --modulo-tp: #222;
  --admon-ta: #e9eaed;
  --login-bx: #fff;
}